* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8edeb;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    /*border: solid red 1px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-transform: uppercase;
    /*border: solid red 1px;*/
}

main {
    align-items: center;
    background-color: hsl(9, 48%, 98%);
    /*border: solid red 1px;*/
    border-radius: 1.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2rem 3rem;
    width: 65%;
}

img {
    border-radius: 100%;
    height: 175px;
    width: 175px;
}

h2 {
    /*border: solid red 1px;*/
    font-size: 1.75rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

p {
    /*border: solid red 1px;*/
    color: #282828;
    letter-spacing: 0.75px;
    line-height: 1.5;
    margin: 1rem;
}

a {
    /*border: solid red 1px;*/
}

button {
    background-color: #f9dcc4;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    height: 60px;
    letter-spacing: 0.75px;
    margin: 2rem;
    position: relative;
    width: 175px;
}

button a {
    color: #282828;
}

button:hover {
    background-color: #fec89a;
}

button:active {
    top: 2px;
    left: 2px;
}

section {
    /*border: solid red 1px;*/
    background-color: hsl(9, 48%, 98%);
    border-radius: 1.25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem 3rem;
    width: 65%;
}

figure {
    /*border: solid red 1px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

figcaption {
    /*border: solid red 1px;*/
    font-size: 0.9rem;
    letter-spacing: 0.75px;
    margin-top: 0.5rem;
    width: 175px;
}

a {
    text-decoration: none;
}

span {
    font-size: 0.6rem;
}

aside {
    background-color: hsl(9, 48%, 98%);
    border-radius: 1.25%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem 3rem;
    width: 65%;
}

article {
    display: flex;
    padding-left: 0px;
    width: 100%;
}

aside img {
    border-radius: 3px;
    height: 200px;
    width: auto;
}

aside figure {
    margin-left: 0px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 100;
}

ul {
    
    letter-spacing: 0.75px;
    list-style-position: outside;
    padding: 20px 30px;
}

ul li {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

.contact {
    text-align: center;
}