* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8edeb;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 'Jennifer Openshaw' header*/

h1 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-align: center;
    text-transform: uppercase;
    animation-name: flip-text;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
}

/* Animation to periodically flip 'Jennifer Openshaw' text */

@keyframes flip-text {

    0% { 
        transform: rotateY(0deg); 
      }
      10% {
        transform: rotateY(360deg);
      }
      100% {
        transform: rotateY(360deg);
      }
}

/* Contact page header text */

.contact-header {
    text-transform: none;
    animation: none;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

/* 'About me' section */

main {
    align-items: center;
    background-color: hsl(9, 48%, 98%);
    border-radius: 1.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2rem 3rem;
    width: 65%;
}

img {
    border-radius: 100%;
    height: 175px;
    width: 175px;
}

/* 'About me' heading */

h2 {
    font-size: 1.75rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Main text */

p {
    color: #282828;
    letter-spacing: 0.75px;
    line-height: 1.5;
    margin: 1rem;
}

/* 'Drop me an email' button */

button {
    background-color: #f9dcc4;
    border: none;
    border-radius: 10px;
    color: #282828;
    font-size: 0.9rem;
    height: 60px;
    letter-spacing: 0.75px;
    margin: 2rem;
    position: relative;
    width: 175px;
}

/* Animation - change button colour on hover */

button:hover {
    animation-name: background-color;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes background-color {
    100% {
        background-color:  #fec89a;
    }
}

button:focus {
    background-color: #fec89a;
}

button:active {
    top: 2px;
    left: 2px;
}

/* Photo gallery section*/

section {
    background-color: hsl(9, 48%, 98%);
    border-radius: 1.25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem 3rem;
    width: 65%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

figcaption {
    font-size: 0.9rem;
    hyphens: auto;
    letter-spacing: 0.75px;
    margin-top: 0.5rem;
    text-align: justify;
    width: 175px;
}

a {
    text-decoration: none;
}

/* Photo credit text */

span {
    font-size: 0.6rem;
}

/* 'What I'm currently reading section */

aside {
    background-color: hsl(9, 48%, 98%);
    border-radius: 1.25%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem 3rem;
    width: 65%;
}

article {
    display: flex;
    padding-left: 0px;
    width: 100%;
}

aside img {
    border-radius: 5px;
    height: 180px;
    padding-top: 15px;
    width: auto;
}

h3 {
    font-size: 1.25rem;
    font-weight: 100;
}

ul {
    
    letter-spacing: 0.75px;
    list-style: none;
    padding: 20px 30px;
    
}

ul li {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

/* Contact form */

form {
    display: flex;
    flex-direction: column;
    width: 65%;
}

label {
    padding-top: 20px;
    padding-bottom: 10px;
}

textarea {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 16px;
    color: #505050;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 12px 20px;
}

form button {
    align-self: center;
}

.form-field {
    border: 1px solid rgb(227, 227, 227);
    border-radius: 40px;
    color: #505050;
    font-size: 0.9rem;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Text highlighting */

::selection {
    background-color: #fec89a;
}

/* Paragraph with contact details at end of about me section */

.contact {
    text-align: center;
}

/* Social icons */

i {
	padding: 2rem;
	font-size: 2rem;
    position: relative;
    color: #595959;
}

i:hover{
	color:  #FFB5A7;
	transform: scale(1.2);
}

i:active {
	color:  #FFB5A7;
	top: 2px;
	left: 2px;
}

/* Formatting of content for small screens */

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    main, section, aside {
        padding: 1rem;
        width: 80%;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    aside img {
        border-radius: 2px;
        width: 75%;
        height: auto;
    }

    i {
       font-size: 1.5rem;
       padding-left: 1.5rem;
       padding-right: 1.5rem; 
    }

    form {
        width: 80%;
    }
}

/* Formatting of aside for medium-sized screens */

@media only screen and (min-width: 801px) and (max-width: 1070px) {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    ul li {
        padding: 5px;
    }

    article img {
        padding-top: 20px;
    }
}

/* Breakpoint to improve readability of main text on large screens */

@media only screen and (min-width: 830px) {
    p {
        width: 550px;
    }
}